*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url(./assets/1009034.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
   background-color: #07091d;
   margin-top: 10px; 
   padding: 30px;
   border: 0;
   border-radius: 20px;
}
.calculator form input{
    border: 0;
    border-radius: 10px;
    outline: 0;
    width: 50px;
    height: 50px;
    font-size: 24px;
    background-color: #07091d;
    color: rgb(201, 184, 184);
    box-shadow: 5px 5px 12px rgb(114, 113, 136),-5px -5px 12px rgb(49, 49, 50);
    margin: 20px 10px;
    cursor: pointer;
}

form .display{
display: flex;
justify-content: flex-end;
margin: 20px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    margin: 12px 0;
    padding: 10px;
    border: 1px solid rgb(201, 184, 184) ;
    border-radius: 10px;
    background: none;
    box-shadow: none;
    color: rgb(201, 184, 184);
}
form input.equal{
    width: 145px;
    border-radius: 10px;
    color: rgb(164, 164, 14);
}
form input.del{
    color: rgb(159, 12, 12);
}
form input.spc{
    color: rgb(14, 157, 157);
}

@media only screen and (max-width: 400px){

    .calculator form input{
    width: 35px;
    height: 35px;
    border-radius: 4px;
    font-size: 10px;
    margin: 10px 5px;
    box-shadow: 2px 2px 12px rgb(114, 113, 136),-2px -2px 12px rgb(49, 49, 50);
    }
    form .display input{
        text-align: right;
        flex: 1;
        margin: 0px 0;
        padding: 5px 1px;
        font-size: 12px;
        border: 1px solid rgb(201, 184, 184) ;
        border-radius: 5px;
        background: none;
        box-shadow: none;
        color: rgb(201, 184, 184);
    }
    form input.equal{
        width: 55px;
        border-radius: 5px;
        color: rgb(164, 164, 14);
    }
    

}

@media only screen and (max-width: 800px){

    .calculator form input{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 12px;
    margin: 12px 6px;
    box-shadow: 3px 3px 12px rgb(114, 113, 136),-3px -3px 12px rgb(49, 49, 50);
    }
    form .display input{
        text-align: right;
        flex: 1;
        margin: 0px 0;
        padding: 5px 1px;
        font-size: 12px;
        border: 1px solid rgb(201, 184, 184) ;
        border-radius: 5px;
        background: none;
        box-shadow: none;
        color: rgb(201, 184, 184);
    }
    form input.equal{
        width: 97px;
        border-radius: 5px;
        color: rgb(164, 164, 14);
    }
    

}